@charset "utf-8";
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  

}
body {
  padding-top: 70px;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (min-width: 320px) {

	.container {
		overflow:hidden;
    position: relative;
	}
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    -webkit-transform: translate3d(121%, 0px, 0px);
	-o-transform: translate3d(121%, 0px, 0px);
	transform: translate3d(121%, 0px, 0px); 
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    	-webkit-transform: translate3d(-50%, 0px, 0px);
		-o-transform: translate3d(-50%, 0px, 0px);
		transform: translate3d(-50%, 0px, 0px);
  }

  .row-offcanvas-right.active {
   	-webkit-transform: translate3d(-88%, 0px, 0px); 
	-o-transform: translate3d(-88%, 0px, 0px);
	transform: translate3d(-88%, 0px, 0px);
  }

  .row-offcanvas-left.active {
    	-webkit-transform: translate3d(50%, 0px, 0px);
		-o-transform: translate3d(50%, 0px, 0px);
		transform: translate3d(50%, 0px, 0px);
 
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
	width: 84.5%;
   
  }
}

@media screen and (min-width: 767px) {
	.container {
		overflow:hidden;
	}
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  .row-offcanvas-left {
    left: 0;
  }
.row-offcanvas-right .sidebar-offcanvas {
    -webkit-transform: translate3d(120%, 0px, 0px);
	-o-transform: translate3d(120%, 0px, 0px);
	transform: translate3d(120%, 0px, 0px);
}
  .row-offcanvas-left
  .sidebar-offcanvas {
    -webkit-transform: translate3d(-50%, 0px, 0px);
	-o-transform: translate3d(-50%, 0px, 0px);
	transform: translate3d(-50%, 0px, 0px); 
  }
  .row-offcanvas-right.active {
    -webkit-transform: translate3d(-90%, 0px, 0px);
	-o-transform: translate3d(-90%, 0px, 0px);
	transform: translate3d(-90%, 0px, 0px); 
  }
  .row-offcanvas-left.active {
     -webkit-transform: translate3d(50%, 0px, 0px);
	-o-transform: translate3d(50%, 0px, 0px);
	transform: translate3d(50%, 0px, 0px); 
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  width:85%;
  }
}
/*@media screen and (min-width: 1900px) {
	.container {
		overflow:visible;
	}
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: -1px;
  }

  .row-offcanvas-left {
    left: 0;
  }

.row-offcanvas-right .sidebar-offcanvas {
    right: -85.5%;
}

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  /*.row-offcanvas-right.active {
    right: 90%; /* 6 columns */
  }

  /*.row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  /*.sidebar-offcanvas {
    position: absolute;
    top: 0;
  width:85%;
  }
}



/* CSS Document */

